### use # to comment out the configure item

### I/O ###
train_dir=../../datasets/clinical_ner/train.bioes
dev_dir=../../datasets/clinical_ner/valid.bioes
test_dir=../../datasets/clinical_ner/test.bioes
model_dir=exps/

dset_dir=bert-base-uncased.dset#Set saved model file directory.
norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=30


###NetworkConfiguration###
use_crf=False
use_char=False
char_seq_feature=CNN
use_word_seq=False
use_word_emb=False
word_seq_feature=LSTM
low_level_transformer=None
low_level_transformer_finetune=False
high_level_transformer=../../pretrained_models/bert/bert-base-uncased
high_level_transformer_finetune=True

###TrainingSetting###
status=train
optimizer=AdamW
iteration=100
batch_size=32
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=768
dropout=0.3
lstm_layer=1
bilstm=True
learning_rate=3e-5
gpu=True
device=cuda:0
scheduler=get_cosine_schedule_with_warmup
warmup_step_rate=0.05
MAX_SENTENCE_LENGTH=1250