### use # to comment out the configure item

### I/O ###
train_dir=../../datasets/clinical_ner/train.bioes
dev_dir=../../datasets/clinical_ner/valid.bioes
test_dir=../../datasets/clinical_ner/test.bioes
model_dir=exps/

dset_dir=wlstm_nochar.dset#Set saved model file directory.
word_emb_dir=../../pretrained_models/glove6b/glove.6B.100d.txt
norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=False
char_seq_feature=CNN
use_word_seq=True
use_word_emb=True
word_seq_feature=LSTM
low_level_transformer=None
low_level_transformer_finetune=False
high_level_transformer=None
high_level_transformer_finetune=False

###TrainingSetting###
seed=22
status=train
optimizer=SGD
iteration=100
batch_size=16
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=1.0
lr_decay=0.05
gpu=True
device=cuda:0